---
import GitHub from "./icons/GitHub.astro"
import LinkButton from "./LinkButton.astro"
import Java from "./icons/Java.astro"
import Python from "./icons/Python.astro"
import Spring from "./icons/Spring.astro"
import SQL from "./icons/SQL.astro"
import Angular from "./icons/Angular.astro"
import Git from "./icons/Git.astro"
import Languaje from "./icons/Languaje.astro"
import StarUML from "./icons/StarUML.astro"
import Math from "./icons/Math.astro"

const TAGS = {

  SQL: {
    name: "SQL Server",
    class: "bg-[#003159] text-white",
    icon: SQL,
  },
  JAVA: {
    name: "Java",
    class: "bg-[#003159] text-white",
    icon: Java,
  },
  Python: {
    name: "Python",
    class: "bg-[#003159] text-white",
    icon: Python,
  },
  Spring: {
    name: "Spring",
    class: "bg-[#003159] text-white",
    icon: Spring,
  },
  Angular: {
    name: "Angular",
    class: "bg-[#003159] text-white",
    icon: Angular,
  },
  Git: {
    name: "Git",
    class: "bg-[#003159] text-white",
    icon: Git,
  },
  Languaje: {
    name: "B1",
    class: "bg-[#003159] text-white",
    icon: Languaje,
  },
  StarUML: {
    name: "UML",
    class: "bg-[#003159] text-white",
    icon: StarUML,
  },
  Matematica: {
    name: "Matemática",
    class: "bg-[#003159] text-white",
    icon: Math,
  },
}
const FORMACION = [
  {
    title: "UADE - Ingeniería en Informática",
    description:
      "18/45 materias aprobadas, 4 en curso. Adquiriendo conocimientos sólidos en desarrollo de Software como Programacion orientada a objetos con patrones de diseño, bases de datos relacionales y otras áreas como álgebra, matemática, telecomunicaciones, redes.",
    image: "/projects/uade2.png",
    tags: [TAGS.JAVA, TAGS.Python, TAGS.Spring, TAGS.SQL, TAGS.Git, TAGS.StarUML
],
  },
  {
    title: "LEI - Lugano English Institute",
    description:
      "Nivel B1 actualmente, estimo que para Julio 2025 alcanzaré un nivel B2.",
    image: "/projects/LEI.jpg",
    tags: [TAGS.Languaje]
  },
  {
    title: "Spring Framework con Angular - Udemy",
    description:
      "Estudiando el framework Spring para implementar en el proyecto Padel Para Todos y para el Front con Angular (competencia básica).",
    image: "/projects/udemy2.png",
    tags: [TAGS.Angular, TAGS.JAVA, TAGS.Spring],
  },
  {
    title: "Licenciatura en Comercio Internacional",
    description:
      "Carrera abandonada, 12/40 materias. Me dí cuenta que lo único que me atraía era el contenido práctico.",
    image: "/projects/unlam.jpg",
    tags: [TAGS.Matematica],
  },
]
---
<div class="flex flex-col gap-y-8"> <!-- Reducido el gap vertical a gap-y-8 -->
  {
    FORMACION.map(({ image, title, description, tags}) => (
      <article class="flex flex-col space-y-4 group md:flex-row md:space-x-4 md:space-y-0"> 
        <div class="w-full md:w-2/5">
          <div class="relative flex items-center gap-4 transition duration-500 ease-in-out transform shadow-xl overflow-hidden rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50" style="width: 300px; height: 300px;">
            <img alt="Imagen del proyecto" class="object-cover w-full h-full transition duration-500 md:scale-100 md:group-hover:scale-110" loading="lazy" src={image} /> <!-- Ajustado el tamaño de la imagen a w-full y h-full -->
          </div>
        </div>

        <div class="w-full md:w-3/5 md:max-w-lg flex flex-col"> 
          <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
            {title}
          </h3>
          <div class="flex flex-wrap mt-2">
            <ul class="flex flex-wrap mb-2 gap-x-2">
              {tags.map((tag) => (
                <li>
                  <span class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 my-1`}>
                    <tag.icon class="size-4" />
                    {tag.name}
                  </span>
                </li>
              ))}
            </ul>
            <div class="mt-2 text-gray-700 dark:text-gray-400">{description}</div>
          </div>
        </div>
      </article>
    ))
  }
</div>




